.*.swp
*.o
*.a
*ctooltips
*ptooltips
*.dSYM/
cscope.out
result
built/
src/core/version.h
bin/config.mk
bin/libvkdt.so
bin/vkdt
bin/vkdt-cli
bin/vkdt-fit
bin/vkdt-eval-profile
bin/vkdt-lutinfo
bin/vkdt-mkclut
bin/vkdt-mkssf
bin/vkdt-read-icc
bin/data/cameras.xml
bin/modules
bin/imgui.ini
bin/display.*
bin/data/*.lut
bin/data/nprof/
bin/exiftool_files/
src/gui/shd.h
src/gui/shd/gui.frag.spv
src/gui/shd/gui.vert.spv
src/pipe/modules/i-mcraw/mcraw-*
src/pipe/modules/i-raw/rawloader-c/target
src/pipe/modules/quake/quakespasm
src/macadam
src/macadam.lut
src/mkabney
src/mkspectra
