# command line interface (vkdt-cli) script only:
# warp jpg 02 to align with 01 and also output all debug buffers of the pyramid matching
module:i-jpg:01
module:i-jpg:02
module:srgb2f:01
module:srgb2f:02
module:burst:01
module:exposure:01
module:f2srgb:01
module:y2srgb:i0
module:y2srgb:i1
module:y2srgb:i2
module:y2srgb:i3
module:y2srgb:w0
module:y2srgb:w1
module:y2srgb:w2
module:y2srgb:w3
module:o-jpg:main
module:o-jpg:i0
module:o-jpg:i1
module:o-jpg:i2
module:o-jpg:i3
module:o-jpg:w0
module:o-jpg:w1
module:o-jpg:w2
module:o-jpg:w3
connect:i-jpg:01:output:srgb2f:01:input
connect:i-jpg:02:output:srgb2f:02:input
connect:srgb2f:01:output:burst:01:input
connect:srgb2f:02:output:burst:01:warp
connect:burst:01:output:exposure:01:input
connect:exposure:01:output:f2srgb:01:input
connect:f2srgb:01:output:o-jpg:main:input
#
connect:burst:01:debugi0:y2srgb:i0:input
connect:y2srgb:i0:output:o-jpg:i0:input
connect:burst:01:debugi1:y2srgb:i1:input
connect:y2srgb:i1:output:o-jpg:i1:input
connect:burst:01:debugi2:y2srgb:i2:input
connect:y2srgb:i2:output:o-jpg:i2:input
connect:burst:01:debugi3:y2srgb:i3:input
connect:y2srgb:i3:output:o-jpg:i3:input
#
# connect:burst:01:debugw0:o-jpg:w0:input
# connect:burst:01:debugw1:o-jpg:w1:input
# connect:burst:01:debugw2:o-jpg:w2:input
# connect:burst:01:debugw3:o-jpg:w3:input
connect:burst:01:debugw0:y2srgb:w0:input
connect:y2srgb:w0:output:o-jpg:w0:input
connect:burst:01:debugw1:y2srgb:w1:input
connect:y2srgb:w1:output:o-jpg:w1:input
connect:burst:01:debugw2:y2srgb:w2:input
connect:y2srgb:w2:output:o-jpg:w2:input
connect:burst:01:debugw3:y2srgb:w3:input
connect:y2srgb:w3:output:o-jpg:w3:input
#
param:o-jpg:i0:filename:debug_0i
param:o-jpg:i1:filename:debug_1i
param:o-jpg:i2:filename:debug_2i
param:o-jpg:i3:filename:debug_3i
param:o-jpg:w0:filename:debug_0w
param:o-jpg:w1:filename:debug_1w
param:o-jpg:w2:filename:debug_2w
param:o-jpg:w3:filename:debug_3w
# input files here
param:i-jpg:01:filename:img0.jpg
param:i-jpg:02:filename:img1.jpg
