frames:360
module:i-raw:01
module:exposure:01
module:filmcurv:01
module:mtest:01
module:display:hist
module:burst:01
module:blend:01
# last display in list will be the one to drive ROI
module:display:main
connect:mtest:01:output:burst:01:input
connect:burst:01:output:blend:01:back
connect:burst:01:mask:blend:01:mask
connect:mtest:01:output:blend:01:input
connect:blend:01:output:exposure:01:input
feedback:blend:01:output:burst:01:warp
connect:exposure:01:output:filmcurv:01:input
connect:filmcurv:01:output:display:main:input
# connect:mtest:01:output:display:hist:input
connect:burst:01:debugw0:display:hist:input
