frames:10000
module:i-v4l2:01
module:exposure:01
module:filmcurv:01
module:burst:01
module:blend:01
# module:ciediag:01
module:i-pfm:spectra
module:display:hist
module:display:main
connect:blend:01:output:exposure:01:input
# connect:exposure:01:output:filmcurv:01:input
connect:exposure:01:output:display:main:input
connect:i-v4l2:01:output:burst:01:input
feedback:blend:01:output:burst:01:warp
connect:burst:01:output:blend:01:back
connect:i-v4l2:01:output:blend:01:input
connect:burst:01:mask:blend:01:mask
# connect:exposure:01:output:ciediag:01:input
# connect:i-pfm:spectra:output:ciediag:01:bgimg
connect:burst:01:mask:display:hist:input
# connect:filmcurv:01:output:display:main:input
param:i-v4l2:01:device:/dev/video0
param:exposure:01:exposure:0
param:filmcurv:01:x0:0
param:filmcurv:01:x1:0.1
param:filmcurv:01:x2:0.9
param:filmcurv:01:x3:1
param:filmcurv:01:y0:0
param:filmcurv:01:y1:0.02474
param:filmcurv:01:y2:0.8866
param:filmcurv:01:y3:1
param:filmcurv:01:black:1
param:burst:01:merge_k:100
param:burst:01:merge_n:70
param:burst:01:blur0:2
param:burst:01:blur1:2
param:burst:01:blur2:2
param:burst:01:blur3:2
param:blend:01:opacity:0.5
