body {
  font-family:trebuchet ms,bitstream vera sans,verdana,helvetica,arial,sans-serif; font-size: 8pt;
  background-color:#111111;
  font-size:15pt;
  color:#bbbbbb;
}

.title{
  margin-left: auto;
  margin-right: auto;
  margin-top: 50pt;
  margin-bottom: -5pt;
  background-color:#111111;
  color:#bbbbbb;
  padding: 0pt;
  font-weight:bold;
  font-size:20pt;
  width: 800px; /* width of page + padding. */
}

table {
  width:800px;
  font-size:15pt;
  font-family:sans;
  margin-left:auto;
  margin-right:auto;
  padding:20px;
  background-color:#444444;
  color:#bbbbbb;
  border-style:solid;
  border-width:thin;
  border-color:#666666;
}

a {
  color:#ffffff;
  text-decoration:none;
}

a:hover {
  color:#ffffff;
}

td {
  padding-bottom:1.5em;
}

img {
  border-color:#000000;
  border-style:solid;
  border-width:thin;
  margin-right:17px;
  background-color:#ffffff;
  width:30em;
}
