/* CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST */
1 24
BEGIN
"<?xml version=""1.0"" encoding=""UTF-8"" standalone=""yes""?>\n"
"<assembly manifestVersion=""1.0"" xmlns=""urn:schemas-microsoft-com:asm.v1"">\n"
"  <application>\n"
"    <windowsSettings>\n"
"      <activeCodePage xmlns=""http://schemas.microsoft.com/SMI/2019/WindowsSettings"">UTF-8</activeCodePage>\n"
"    </windowsSettings>\n"
"  </application>\n"
"</assembly>\n"
END
