name: nightly packages
# based on the same for darktable-org/darktable
# i suppose that makes it GPLv3.

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  AppImage:
    if: github.repository == 'hanatos/vkdt'
    name: nightly appimage
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        glfw:
          - { package: pentablet }
          - { package: glfw3.4 }
        raw:
          - { backend: rawler }
          - { backend: rawspeed }
        compiler:
          - {
              compiler: clang,
              CC: clang-17,
              CXX: clang++-17,
              packages: clang-17 libomp-17-dev,
            }
    env:
      CC: ${{ matrix.compiler.CC }}
      CXX: ${{ matrix.compiler.CXX }}
      VKDT_CLI: ${{ github.workspace }}/AppDir/usr/bin/vkdt-cli
      BRANCH: master
      GLFW: ${{ matrix.glfw.package }}
      RAW: ${{ matrix.raw.backend }}
    steps:
      - name: update apt and install clang
        run: |
          # Remove azure mirror because it is unreliable and sometimes unpredictably leads to failed CI
          sudo sed -i 's/azure\.//' /etc/apt/sources.list
          wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key|sudo apt-key add -
          sudo add-apt-repository "deb http://apt.llvm.org/noble/ llvm-toolchain-noble-17 main"
          sudo apt-get update
          sudo apt-get -y install \
            ${{ matrix.compiler.packages }}
      - name: install base dependencies
        run: |
          sudo apt-get -y install \
            build-essential \
            appstream-util \
            git \
            glslang-tools \
            libvulkan-dev \
            libjpeg-dev \
            zlib1g-dev \
            libasound2-dev \
            libavformat-dev \
            libavcodec-dev \
            libxkbcommon-dev \
            libxinerama-dev \
            libxcursor-dev \
            libxi-dev \
            libfuse2 \
            appstream;
      - name: install extra deps for rawler
        if: matrix.raw.backend == 'rawler'
        run: |
          sudo apt-get -y install \
            rustc \
            cargo
          curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: install extra deps for rawspeed
        if: matrix.raw.backend == 'rawspeed'
        run: |
          sudo apt-get -y install \
            libpugixml-dev \
            libexiv2-dev
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH }}
          # We have to fetch the entire history to correctly generate the version for the AppImage filename
          fetch-depth: 0
      - name: configure generic x86_64 build
        run: |
          echo "OPT_CFLAGS=-Wall -pipe -O3 -march=x86-64 -DNDEBUG" >> bin/config.mk
          echo "export OPT_CFLAGS" >> bin/config.mk
          echo "OPT_LDFLAGS=" >> bin/config.mk
          echo "export OPT_LDFLAGS" >> bin/config.mk
      - name: configure for local glfw
        run: |
          echo "VKDT_GLFW_CFLAGS=-I${{ github.workspace }}/glfw/include" >> bin/config.mk
          echo "VKDT_GLFW_LDFLAGS=-I${{ github.workspace }}/glfw/build/src -lglfw3" >> bin/config.mk
          echo "export VKDT_GLFW_CFLAGS VKDT_GLFW_LDFLAGS" >> bin/config.mk
      - name: build new glfw without pentablet support
        if: matrix.glfw.package != 'pentablet'
        run: |
          sudo apt-get -y install libglfw3-dev libxrandr-dev
          git clone --branch master https://github.com/glfw/glfw glfw
          cd glfw
          git checkout 3.4
          cmake -S . -B build -DGLFW_BUILD_WAYLAND=1 -DGLFW_BUILD_X11=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build build
          sudo cmake --install build
          cd ..
      - name: build glfw with pentablet support
        if: matrix.glfw.package == 'pentablet'
        run: |
          sudo apt-get -y install libglfw3-dev libxrandr-dev
          git clone --branch master --depth 1 https://github.com/hanatos/glfw glfw
          cd glfw
          cmake -S . -B build -DGLFW_BUILD_WAYLAND=1 -DGLFW_BUILD_X11=1 -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr
          cmake --build build
          sudo cmake --install build
          cd ..
          echo "VKDT_USE_PENTABLET=1" >> bin/config.mk
          echo "export VKDT_USE_PENTABLET" >> bin/config.mk
      - name: update config.mk for rawler
        if: matrix.raw.backend == 'rawler'
        run: |
          cat >> bin/config.mk << 'EOF'
          VKDT_USE_RAWINPUT=2
          export VKDT_USE_RAWINPUT
          EOF
      - name: update config.mk for rawspeed
        if: matrix.raw.backend == 'rawspeed'
        run: |
          cat >> bin/config.mk << 'EOF'
          VKDT_USE_RAWINPUT=1
          export VKDT_USE_RAWINPUT
          VKDT_PUGIXML_CFLAGS=$(eval VKDT_PUGIXML_CFLAGS := $$(shell pkg-config --cflags pugixml))$(VKDT_PUGIXML_CFLAGS)
          VKDT_PUGIXML_LDFLAGS=$(eval VKDT_PUGIXML_LDFLAGS := $$(shell pkg-config --libs pugixml))$(VKDT_PUGIXML_LDFLAGS)
          export VKDT_PUGIXML_CFLAGS VKDT_PUGIXML_LDFLAGS
          VKDT_USE_EXIV2=1
          export VKDT_USE_EXIV2
          VKDT_EXIV2_CFLAGS=$(eval VKDT_EXIV2_CFLAGS := $$(shell pkg-config --cflags exiv2))$(VKDT_EXIV2_CFLAGS)
          VKDT_EXIV2_LDFLAGS=$(eval VKDT_EXIV2_LDFLAGS := $$(shell pkg-config --libs exiv2))$(VKDT_EXIV2_LDFLAGS)
          export VKDT_EXIV2_CFLAGS VKDT_EXIV2_LDFLAGS
          CC=clang-17
          CXX=clang++-17
          export CC CXX
          EOF
      - name: build and install
        run: |
          bash bin/mkappimg.sh
          mv vkdt-*.AppImage $(echo vkdt-*.AppImage | sed "s/vkdt-/vkdt-${{ env.RAW }}-${{ env.GLFW }}-/")
      - name: check if it runs
        run: |
          ./vkdt-*.AppImage --version
          # *sigh* we'd like to do this but the github runners don't have a gpu:
          # sudo apt-get -y remove \
          #   git \
          #   glslang-tools \
          #   libvulkan-dev \
          #   libjpeg-dev \
          #   libglfw3-dev \
          #   zlib1g-dev \
          #   libpugixml-dev \
          #   libexiv2-dev \
          #   libasound2-dev \
          #   libavformat-dev \
          #   libavcodec-dev \
          #   libxkbcommon-dev \
          #   libxinerama-dev \
          #   libxcursor-dev \
          #   libxi-dev
          # ./vkdt-*.AppImage cli -g bin/examples/spheres.cfg --config frames:1
      - name: package upload
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          path: vkdt-*.AppImage*
          name: artifact-appimage-${{ env.RAW }}-${{ env.GLFW }}
          retention-days: 1

  WindowsRawler:
    if: github.repository == 'hanatos/vkdt'
    name: nightly vkdt windows with rawler backend
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        msystem:
          - UCRT64
    defaults:
      run:
        shell: msys2 {0}
    env:
      SRC_DIR: ${{ github.workspace }}/src
      INSTALL_PREFIX: ${{ github.workspace }}/install
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          install: >-
            git
            rsync
            findutils
            make
            zip
            unzip
            wget
            vim
          pacboy: >-
            cc:p
            gcc-libs:p
            dlfcn:p
            glfw:p
            ffmpeg:p
            vulkan-devel:p
            glslang:p
            libjpeg-turbo:p
            zlib:p
            omp:p
            cmake:p
            pugixml:p
          update: false
      - run: git config --global core.autocrlf input
        shell: bash
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: src
      - name: install rust
        run: |
          curl https://sh.rustup.rs -sSf | sh -s -- -y
      - name: install rust for msys2
        run: |
          /c/Users/runneradmin/.cargo/bin/rustup toolchain install stable-x86_64-pc-windows-gnu
          /c/Users/runneradmin/.cargo/bin/rustup default stable-x86_64-pc-windows-gnu
      - name: configure generic x86_64 build
        run: |
          echo "OPT_CFLAGS=-Wall -pipe -O3 -march=x86-64 -DNDEBUG" >> ${SRC_DIR}/bin/config.mk
          echo "export OPT_CFLAGS" >> ${SRC_DIR}/bin/config.mk
          echo "INSTALL_PREFIX_U=$(cygpath -u ${INSTALL_PREFIX})" >> $GITHUB_ENV
      - name: build and install
        run: |
          export PATH=/c/Users/runneradmin/.cargo/bin/:$PATH
          echo "VKDT_USE_RAWINPUT=2" >> ${SRC_DIR}/bin/config.mk
          echo "export VKDT_USE_RAWINPUT" >> ${SRC_DIR}/bin/config.mk
          echo "VKDT_USE_EXIV2=0" >> ${SRC_DIR}/bin/config.mk
          echo "export VKDT_USE_EXIV2" >> ${SRC_DIR}/bin/config.mk
          make -C ${SRC_DIR}
          make DESTDIR=${INSTALL_PREFIX_U} -C ${SRC_DIR} install
      - name: bundle exiftool
        run: |
          wget https://oliverbetz.de/cms/files/Artikel/ExifTool-for-Windows/exiftool-13.44_64.zip
          unzip exiftool-13.44_64.zip
          mv ExifTool.exe /usr/lib/vkdt/exiftool.exe
          mv exiftool_files/ /usr/lib/vkdt
      - name: check if it runs
        run: |
          ${INSTALL_PREFIX_U}/usr/lib/vkdt/vkdt.exe --version
      - name: get version info
        run: |
          cd ${SRC_DIR}
          echo "VERSION=$(git describe)" >> $GITHUB_ENV
          ([[ ${MSYSTEM_CARCH} == x86_64 ]] && echo "SYSTEM=win64" || echo "SYSTEM=woa64") >> $GITHUB_ENV
      - name: create zip package
        run: |
          cd ${INSTALL_PREFIX_U}/usr/lib
          # find and copy required libraries
          ldd vkdt/vkdt.exe | grep '/ucrt64/bin/' | awk '{print($1)}' > dllhell
          find vkdt/ -name "*lib*.so" -exec ldd {} \; | grep '/ucrt64/bin/' | awk '{print($1)}' | sort | uniq >> dllhell
          for i in $(cat dllhell); do cp /ucrt64/bin/${i} vkdt/; done
          zip -r vkdt-rawler-${{ env.VERSION }}-${{ env.SYSTEM }}.zip vkdt/
      - name: package upload
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.INSTALL_PREFIX }}/usr/lib/vkdt-rawler-${{ env.VERSION }}-${{ env.SYSTEM }}.zip
          name: artifact-windows-rawler
          retention-days: 1

  macintosh:
    if: github.repository == 'hanatos/vkdt'
    name: nightly vkdt macintosh
    runs-on: macos-14
    strategy:
      fail-fast: true
    env:
      SRC_DIR: ${{ github.workspace }}/src
      INSTALL_PREFIX: ${{ github.workspace }}/install
      APPDIR: ${{ github.workspace }}/vkdt.app
    steps:
      - name: install dependencies
        run: |
          brew install pkgconf cmake jpeg-turbo ffmpeg make glfw3 vulkan-validationlayers vulkan-headers rust molten-vk
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: src
      - name: configure
        run: |
          cd ${SRC_DIR}
          echo "OPT_LDFLAGS=\"-Wl,-rpath,@executable_path/../../../Frameworks\"" > bin/config.mk
          echo "export OPT_LDLFAGS" >> bin/config.mk
      - name: compile
        run: |
          export PATH="/usr/local/opt/make/libexec/gnubin:$PATH"
          # fails in github ci:
          # might be in: /opt/homebrew/Cellar/
          # export PKG_CONFIG_PATH=$(find /usr/local/Cellar -name 'pkgconfig' -type d | grep lib/pkgconfig | tr '\n' ':' | sed s/.$//)
          # export PKG_CONFIG_PATH=$(find /usr/homebrew/Cellar -name 'pkgconfig' -type d | grep lib/pkgconfig | tr '\n' ':' | sed s/.$//)
          make -C ${SRC_DIR} -j20
      - name: get version info
        run: |
          cd ${SRC_DIR}
          echo "VERSION=$(git describe)" >> $GITHUB_ENV
      - name: install into appdir
        run: |
          cd ${SRC_DIR}
          mkdir -p ${APPDIR}/Contents/MacOS
          mkdir ${APPDIR}/Contents/Frameworks
          mkdir ${APPDIR}/Contents/Resources
          make VKDTBIN=/tmp/dontinstall DESTDIR=${APPDIR} prefix=/Contents/MacOS install
          cp vkdt.png ${APPDIR}/Contents/Resources/vkdt.png
          ditto /opt/homebrew/lib/libMoltenVK.dylib ${APPDIR}/Contents/Frameworks/libMoltenVK.dylib
      - name: copy library dependencies
        run: |
          cd ${SRC_DIR}
          find ${APPDIR} -type f | xargs otool -L | grep homebrew | sort | uniq | cut -wf 2 | xargs -I {} ditto {} ${APPDIR}/Contents/Frameworks/
          # Repeat above until satiated
          find ${APPDIR} -type f -print0 | xargs -0 file | grep Mach-O | cut -wf 1 | sed 's/.$//' | tr '\n' '\0' | xargs -0 -n1 sh -c 'otool -L $0 | tail -n +2 | grep -v "/System/" | grep -v "/usr/lib" | grep -v "@rpath" | cut -wf 2 | xargs echo $0' | tr '\n' '\0' | xargs -0 -n1 bash -c 'depender=$(echo $0 | cut -wf 1); dependent=${0//$depender /}; for i in $dependent; do install_name_tool -change $i @rpath/$(basename $i) $depender; done'
          find ${APPDIR} -type f -print0 | xargs -0 file | grep "Mach-O 64-bit dynamically linked shared library" | grep -v "Contents/Frameworks" | cut -wf 1 | sed 's/.$//' | xargs -I {} mv {} ${APPDIR}/Contents/Frameworks/

          cd ${APPDIR}/Contents/Frameworks

          versionedLibs=$(ls ${APPDIR}/Contents/Frameworks | tr '\n' '\0' | xargs -0 -n1 bash -c 'echo "$0" "$(otool -D $0 | grep $0 | wc -l)"' | grep " 1" | cut -wf 1)

      - name: something more on libs
        run: |
          cd ${APPDIR}/Contents/Frameworks
          for i in $(seq 1 5)
          do
            for lib in $versionedLibs
            do
              currentVersion=$(echo $lib | cut -d . -f $(seq -s "," 1 $i | sed 's/.$//') | grep -v dylib);
              if [ "$currentVersion" ]
              then
                if [ "$lib" != "$currentVersion.dylib" ]
                then
                  ln -s $lib $(echo $lib | cut -d . -f $(seq -s "," 1 $i | sed 's/.$//')).dylib
                fi
              fi
            done
          done
      - name: install moltenvk icd
        run: |
          mkdir -p ${APPDIR}/Contents/Resources/vulkan/icd.d
          echo "{
              "file_format_version": "1.0.0",
              "ICD": {
                  "library_path": "../../../../../Frameworks/libMoltenVK.dylib",
                  "api_version": "1.3.0",
                  "is_portability_driver": true
              }
          }" >> ${APPDIR}/Contents/Resources/vulkan/icd.d/MoltenVK_icd.json
      - name: build dmg image
        run: |
          cd ${SRC_DIR}
          cat > ${APPDIR}/Contents/Info.plist << EOM
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
            <key>CFBundleDevelopmentRegion</key>
            <string>English</string>
            <key>CFBundleExecutable</key>
            <string>lib/vkdt/vkdt</string>
            <key>CFBundleIconFile</key>
            <string>vkdt.png</string>
            <key>CFBundleIdentifier</key>
            <string>org.vkdt</string>
            <key>CFBundleInfoDictionaryVersion</key>
            <string>6.0</string>
            <key>CFBundleName</key>
            <string>vkdt</string>
            <key>CFBundlePackageType</key>
            <string>APPL</string>
            <key>CFBundleSignature</key>
            <string>vkdt</string>
            <key>NSPrincipalClass</key>
            <string>NSApplication</string>
            <key>CFBundleDocumentTypes</key>
            <array>
              <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>LSItemContentTypes</key>
                <array>
                  <string>public.image</string>
                  <string>public.directory</string>
                </array>
              </dict>
            </array>
          </dict>
          </plist>
          EOM
          cat > Entitlements.plist << EOM
          <?xml version="1.0" encoding="UTF-8"?>
          <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
          <plist version="1.0">
          <dict>
            <key>com.apple.security.cs.disable-library-validation</key>
            <true/>
          </dict>
          </plist>
          EOM

          find ${APPDIR} -type f -exec codesign -f -s - --entitlements Entitlements.plist -o runtime {} \;
          codesign -f -s - --entitlements Entitlements.plist -o runtime ${APPDIR}

          mkdir vkdt-image
          mv ${APPDIR} vkdt-image/vkdt.app

          hdiutil create -srcfolder vkdt-image -format UDSB vkdt-image.sparsebundle
          hdiutil convert vkdt-image.sparsebundle -format ULMO -o vkdt-${{ env.VERSION }}.dmg
          # TODO: codesign --force -s - /path/to/dylib on every dylib
      - name: package upload
        if: ${{ success() }}
        uses: actions/upload-artifact@v4
        with:
          path: ${{ env.SRC_DIR }}/vkdt-${{ env.VERSION }}.dmg
          name: artifact-macos
          retention-days: 1

  upload_to_release:
    if: ${{ github.event_name != 'pull_request' }}
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: [AppImage, WindowsRawler, macintosh]
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
      - name: update nightly release
        uses: andelf/nightly-release@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: nightly
          prerelease: true
          name: "vkdt nightly build $$"
          body: |
            this is an automated nightly build of vkdt.

            it may contain pre-release quality features, use with care :)

            appimage
            ===================================================
            the appimage compiles in a lot of features
            (mlv, v4l, asound, i-vid, o-vid, exiv2)
            but not all
            (no quake).
            you also currently need the `exiftool` binary installed on your
            host system to enable all features (metadata handling).

            appimage
            ====================
            regular build with stock glfw


            appimage with pentablet
            =======================
            links against a custom version of glfw, enabling drawing of masks via pentablet/wacom device.

            windows
            ===================
            windows builds exist. sf.net disallows downloading stuff from within github runners it seems,
            so we can't bundle some deps.
            the windows version is pre-alpha and has known issues, see https://github.com/hanatos/vkdt/issues/103 .
            it compiles less features
            (mlv, i-vid, o-vid)
            and leaves out many
            (no v4l, no sound, no quake, no pentablet support).

            macintosh
            =========
            the macintosh version is extremely experimental (completely untested!)
            it builds (using brew) and runs (using the lunarg sdk) both on intel and apple silicon devices.

          files: |
            artifact-appimage-rawler-glfw3.4/*
            artifact-appimage-rawler-pentablet/*
            artifact-windows-rawler/*
            artifact-macos/*
